* {
    box-sizing: border-box;
}

#hud {
    position: fixed;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    top: 0;
    left: 0;
}

#hud div {
    display: flex;
}

#information {
    justify-content: space-around;
    line-height: 0;
    align-items: center;
    font-size: 8px;
}

#main {
    flex: 1;
    align-items: stretch;
    margin: 5dvw;
    gap: 5dvw;
}

#milestones-container {
    height: 100%;
    width: fit-content;
    position: relative;
}

#milestones {
    background-color: darkgray;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 5dvw;
    min-height: 100%;
    padding: 5px;
}

.milestone-button {
    height: 10dvw;
    width: 10dvw;
    border: 0px;
    border-radius: 100%;
    background-color: gray;
    z-index: 1;
}

#milestones-tracker {
    position: absolute;
    background-color: lightgreen;
    border-radius: 0px 0px 10px 10px;
    bottom: 0px;
    height: 0px;
    width: inherit;
}

#pop-up {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(146, 12, 113, 0.75);
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#pop-up-content {
    flex-direction: column;
    flex: 1;
}

#pop-up-text {
    flex: 1;
    overflow-y: auto;
    max-height: 50dvh;
    padding: 5px;
}

#pop-up-info {
    flex-direction: column;
    align-items: center;
}

#pop-up-upgrade-box {
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: 10px 0px;
}

#pop-up-upgrade {
    line-height: 0;
}

#upgrades {
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: fixed;
    bottom: 5dvw;
    right: 5dvw;
}

#upgrade-options {
    flex-direction: column;
    gap: 5px;
}

#upgrade-trigger {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
